<% include ./header.ejs %>
		<h2>问题列表</h2>
		<ul>
			<% for(var i=0; i<result.length; i++){ %>
				<li>
					<a href="/questions/detail?_id=<%= result[i]._id %>"><%= result[i].title %></a>
					<span><%= result[i].date %></span>
				</li>
			<%}%>
		</ul>
  </body>
</html>